/* TREEHOUSE VIDEO PLAYER PROJECT - MEDIA QUERIES */
/* GENERAL AND SMALL SCREEN STYLINGS LOCATED IN STYLE.CSS */

@media screen and (min-width: 600px) {
	.controlWrap {
		margin-top: -50px;
		background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1));background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1));
		overflow: hidden;
	}
	
	.glyphicon {
		margin: auto 3px;
	}
	
	.progressTime {
		left: 175px;
	}
	
	.vol {
		top: 12.5px;
		right: 60px;
		width: 35px;
		overflow: hidden;
	}
	
	.vol:active, .vol:focus, .vol:hover {
		width: 110px;
	}
	
	.vol:active > .volCon, .vol:focus > .volCon, .vol:hover > .volCon {
		display: inline-block;
	}
	
	#mute {
		float: right;
	}
	
	#fullscreen {
		display: inline-block;
		top: 15px;
		right: 15px;
	}
}