/* TREEHOUSE VIDEO PLAYER PROJECT - VIDEO AND CONTROLS - BUILT MOBILE FIRST */
/* STYLINGS FOR LARGE SCREENS LOCATED IN RESPONSIVE.CSS */

* {
	box-sizing: border-box;
}

a {
	outline: none !important;
}

.videoWrap,
#video,
.controlWrap,
.control {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 1000px;
}

.videoWrap {
	position: relative;
}

.controlWrap {
	position: relative;
	height: 50px;
	margin-top: 0px;
	background: black;
}

.control {
	position: absolute;
	height: 50px;
	z-index: 999;
}

#progressBar {
    position: relative;
    width: 100%;
    height: 4px;
    background: rgba(255,255,255,.1);
    cursor: pointer;
}

#bufferBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.3);
}

#timeBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: dodgerblue;
}

.controls {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.play, .pause, .slow, .fast {
	margin-right: 25px;
}

.playRate {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999;
}

.progressTime {
	font-family: 'Play', sans-serif;
	display: none;
}

.volWrap {
	position: absolute;
	top: 10px;
	right: 5px;
}

.volCon {
	display: none;
}

#fullscreen {
	position: absolute;
	display: none;
	cursor: pointer;
}



/* TRANSCRIPT */
.mainWrap {
	position: realtive;
	margin: auto;
	width: 95%;
	max-width: 1000px;
}

#transcript {
	font-family: 'Play', sans-serif;
	position: absolute;
	margin: auto;
	width: 95%;
	max-width: 1000px;
	font-size: 1.1em;
	line-height: 1.75em;
	z-index: -999;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 800;
}

h3 {
	font-family: 'Dosis', sans-serif;
}

p {
	cursor: pointer;
	margin: 25px auto;
}